/* Normalizar el css */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* Imagen del encabezado */
.imagen_header {
  content: url("../../assets/images/design1_image1.jpg");
  width: 100%;
  height: 400px;
  position: relative;
}

/* Nombre del club superpuesto */
.nombre_club {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 46px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Titulo de cada pagina */
.titulo_pagina {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
  font-size: 18px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translate(0%, -140%);
}

/* Logo del club */
.logo {
  position: absolute;
  width: 150px;
  top: 330px;
  right: 20px;
  z-index: 1;
}

/* Barra de navegacion */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.nav-enlace {
  display: inline-block;
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

.nav-enlace:hover {
  background-color: #2980b9;
}

/* Seccion de noticias */
.seccion {
  margin-left: 120px;
  margin-top: -150px;
  padding-left: 50px;
}

/* pie de pagina */
footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 20px;
  margin-top: 0px;
}


article {
  padding-top: 20px;
}

.email {
  position: relative;
  margin-left: 350px;
  margin-top: -100px;
}

.css-valido {
  position: relative;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

